@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.open-sans-light {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.open-sans-regular {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
.open-sans-medium {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
.open-sans-semibold {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
.open-sans-bold {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
.open-sans-extrabold {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
.kanit-regular {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-semibold {
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kanit-bold {
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kanit-extrabold {
  font-family: 'Kanit', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.kanit-black {
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.kanit-regular-italic {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.kanit-semibold-italic {
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  font-style: italic;
}

.kanit-bold-italic {
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.kanit-extrabold-italic {
  font-family: 'Kanit', sans-serif;
  font-weight: 800;
  font-style: italic;
}

.kanit-black-italic {
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  font-style: italic;
}

*,
body {
  font-family: 'KANIT', sans-serif;
}
